name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Sanity check key exists
        run: | 
         echo "Key length:" $(echo "${{ secrets.DEPLOY_KEY }}" | wc -c)

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: |
            cd /var/www/Eyetec
            git pull origin main
            php artisan config:clear
            php artisan cache:clear
            sudo systemctl reload nginx
